<div id="layout-center">
    <div ng-show="canEdit">
        <p>Record Info</p>
        <form class="form-inline">
            
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="record.name">
            <input type="text" class="form-control" placeholder="Category" ng-model="record.category">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="New Tag" ng-model="input.newTag">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="onAddTag()">Add</button>
              </span>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="onRemoveTag()">Remove</button>
              </span>
            </div>
            <!-- tags and tag input -->
            <button class="btn btn-info" ng-repeat="tag in record.tags">{{tag}}</button>
            
            <div>
                <!-- visibility -->
                <label><input type="checkbox" ng-model="input.isPrivate">isPrivate</label>
            </div>
          </div>

        </form>

        <button type="submit" class="btn btn-default" ng-click="onSave()">Save</button>
        <button ng-show="hasRecord()" type="submit" class="btn btn-default" ng-click="onPopDelete()" data-toggle="modal" data-target="#recordDeleteModal">Delete</button>

    </div>
    
    <div>
        <p>Record Info</p>
        <img ng-show="record.blobId" src="{{imagePath}}" />

        <textarea class="ckeditor" name="contentEditor"></textarea>
    </div>
</div>

<!-- recordDeleteModal -->
<div class="modal fade" id="recordDeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete?</h4>
                <div ng-click="cleanNewArticleError()" ng-hide="!recordDeleteError" class="btn btn-block btn-danger clean-bottom-margin">{{recordDeleteError}}</div>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary btn-block" ng-disabled="isDeleting" ng-click="onDelete()">OK</button>
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

