<div id="layout-center">
    <div>
        <p>Search</p>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="query.name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Category" ng-model="query.category">
          </div>
          <button type="submit" class="btn btn-default" ng-click="onSearch()">Search</button>
        </form>
    </div>
    
    <div ng-show="searchResult">
        <span class="pull-left bs-text">Total {{searchResult.totalPages}} Pages, {{searchResult.totalElements}} Result</span>
        
        <nav aria-label="...">
          <ul class="pager">
            <li class="previous"><button class="btn btn-default" ng-click="onMovePage(-1)"><span aria-hidden="true">&larr;</span> Prev</button></li>
            <li><a>{{searchResult.number}}</a></li>
            <li class="next"><button class="btn btn-default" ng-click="onMovePage(1)">Next <span aria-hidden="true">&rarr;</span></button></li>
          </ul>
        </nav>
        
        <ul class="list-group" >
            <li class="list-group-item" ng-repeat="record in searchResult.content" ng-click="onLoadRecord(record)">{{record.name}} Category:{{record.category}}, Author:{{record.username}}</li>
        </ul>
    </div>
</div>


